*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popppins' , sans-serif;
    
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
    
    
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 100px;
    background: #282828;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
    
}

footer .Footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .Footer-container .section-about{
    margin-right: 30px;
    width: 40%;
}

footer .Footer-container .section-about h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

footer .Footer-container .section-about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80px;
    height: 3px;
    background: #A64343;
    
}

footer .Footer-container .section-about p {
    color: rgb(236, 230, 230);
}

footer .sci {
    margin-top: 20px;
    display: flex;
    
}



footer .sci li {
    list-style: none;
}

footer .sci li a{
    margin-top: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #676768;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 20px;
}
footer .sci h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .sci li a:hover{

    background-color: #A64343 ;
}

footer .sci li a .fa-brands{

    color : #fff;
    font-size: 20px;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 5px 100px;
    text-align: center;
    font-size: 15px;
    color: #999;
}