@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    
}

#bg-image{
    background-image: url("../assets/home_bg_img.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
  
}

#row{
    position: absolute;
    top: 20%;
    left: 8%;
    transform: translateY(50%);
}

#topic-text{
    color: #FAFF03;
    font-size: 30px;
    font-weight: 500;
    margin : auto;
}

#Advtext{
    color: white;
    font-size: 80px;
    font-weight: 500;
    margin : auto;
}

#line-text{
    background: #FAFF03;
    height: 3px;
    width: 375px;
    margin-bottom: 10px;
}

#detail-text{
    color: white;
    font-size: 15.2px;
    font-weight: 500;
    
}

#button-1{
    width: 162px;
    background-color: #A64343;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    font-weight:500;
}

#button-1 a:hover{
    width: 162px;
    background-color: #A64343;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    font-weight:500;
}

#button-2{
    width: 162px;
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    font-weight:500;
}