@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.loginNav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;  /* ใช้เปลี่ยนทางซ้ายขวา */
    align-items: center;
    padding: 40px 10%;
    background-color: #A64343;
}

.form-login{
    margin: 1em;
    font-family: "Montserrat";
    font-weight: bold;
    color: rgb(255, 255, 255);
}


#email ,#password ,#comfirm-password{
  
    padding: 12px 10px;
    /* padding: 9px 15px;  */
    margin:1em;
    width: 90%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    
    
  }

.form-login {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 30px;
    box-shadow: 7px 7px 60px #000;

}


#title-login {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    
    
}
#subtitle-login{
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 3em;
}

#forgetpass {
    font-size: 12px;
    margin-left: 1em;
    margin-right: 4em;
}
#remem-check{
    font-size: 12px;
    margin-left: 1em;
    margin-right: 2em;

}
#checkbox-remember{
    
    margin-right: 5px;
}

#submit ,#forget-pass{
    text-align: center;
    margin: auto;
    display: grid;
    display: flex;
    
}

#submit {
    

    margin-top: 2em;
    margin-bottom: 2em;

    font-size: 1em;
    padding: 11px 24px;
    background-color: #A64343;
    color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    
    
  }
  #submit:hover {
    
    background-color:#edf0f1;
    font-weight: bold;
    color: #A64343;
  }

  .signup-text {
    font-size: 11px;
    margin: 4.5em;
    text-align: center;
    
    

  }