.card-input-1 {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0px;
}

.card-input-2 {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0px;
    /* width: 50%; */
}

.card-body-1 {
    padding: 10px 50px 10px 20px;
}

.card-body-1-1 {
    border-radius: 0px;
}
 
.card-body-1-2 {
    border-radius: 0px;
}

.form-row {
    margin-top: 5%;
}



#plan-button {
    background-color: #A64343;
    color: white;
    width: auto;
    height: 100%;
}

.plan-button-div {
    padding-left: 0px ;
}

.card-group {
    padding-right: 0px ;
}

.card-body-2 {
    margin-left: 50px;
}



#plan-button {
    width: 100%;

}