

#regis-submit {
    text-align: center;
    margin: auto;
    display: grid;
    display: flex;
    
}

#regis-submit {
    

    margin-top: 2em;
    margin-bottom: 2em;

    font-size: 1em;
    padding: 11px 24px;
    background-color: #A64343;
    color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    
    
  }
  #regis-submit:hover {
    
    background-color:#edf0f1;
    font-weight: bold;
    color: #A64343;
  }